<div class="contaiiner">
    <div class="row justify-content-center text-center">
        <div class="col-md-12 p-0">
            <div class="wrapper m-5   fadeInDown">
                <div id="formContent">
                  <!-- Tabs Titles -->
                  <!-- <h2 class="inactive"> Sign In </h2>
                  <h2 class="underlineHover">Sign Up </h2> -->
                  <a routerLinkActive="active" class="underlineHover p-2" routerLink="/login"> SIGN IN</a>
                  <a routerLinkActive="active" class="underlineHover p-2" routerLink="/signup">SIGN UP </a>
              
                  <!-- Icon -->
                  <div class="fadeIn first">
                  </div>
              
                  <!-- Login Form -->
                  <form>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                    <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                  </form>
              
                  <!-- Remind Passowrd -->
                  <div id="formFooter">
                    <a class="underlineHover" >Forgot Password?</a>
                  </div>
              
                </div>
              </div>
        </div>

        <!-- <div class="col-md-12 p-4 m-2 fadeIin">
            <button class="btn btn-success m-5 p-2">
                Login In With Google 
                <i class="fab fa-google ml-3" ></i>
            </button>
        </div> -->
    </div>
</div>